
.component {
    
}

.filter {
    background-color: grey;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter p {
    margin: 0.2rem 0;
}

.filterButton {
    background-color: lightseagreen;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}


.userBlock {
    border-bottom: 1px solid grey;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userName {
    font-weight: bold;
    color: darkgreen;
}

.header {
    font-weight: bold;
}

.checkEmailButton {
    background-color: lightseagreen;
    padding: 0.1rem 0.3rem;
    border: 1px solid grey;
    border-radius: 3%;
    margin-left: 4rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.emailValidIcon {
    width: 2rem;
    padding: 1rem;
}